<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <!-- Input with placeholder -->
  <img src="assets/img/logo01.png"/>
  <!-- Number type input -->
  <ion-input type="password" placeholder="Codigo"></ion-input>
  <button ion-button color="primary">Primary</button>
</ion-content>
