<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Carreras" tabIcon="car"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Pedidos" tabIcon="cube"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Tus solicitudes" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Mapa" tabIcon="map"></ion-tab>
</ion-tabs>
